@charset "utf-8";
/* CSS Document */

#card {
	background-color: #A4D6F5;
	margin: auto;
	padding: 10px;
	height: 460px;
	width: 300px;
	border-radius: 20px;
}
#pic {
	background-color: #CDE2EF;
	margin: auto;
	height: 200px;
	width: 195px;
	background-image: url(images/head2.png);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 200px 236px;
	border-radius: 100px;
}
#word {
	margin: auto;
	width: 66%;
}
h1  {
}
h3 {
}
